<ion-view title="Login">
    <ion-content class="has-header">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password">
            </label>
        </div>

        <div class="padding">
            <button class="button button-block button-positive">Login</button>
            <p class="text-center">- or -</p>
            <a href="#/tab/account/signup"><button class="button button-block button-balanced" href="">Signup</button></a>
        </div>

    </ion-content>
</ion-view>