<ion-view title="Checkout">
    <ion-content class="has-header">

        <div class="item item-divider">Shipping Information</div>
        <label class="item item-input">
            <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Last Name">
        </label>
        <label class="item item-input">
            <input type="email" placeholder="Email">
        </label>
        <label class="item item-input">
            <textarea placeholder="Address"></textarea>
        </label>
        <label class="item item-input">
            <input type="tel" placeholder="Phone">
        </label>
        <label class="item item-input">
            <input type="number" placeholder="Zipcode">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Country">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="State">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="City">
        </label>
        <button class="button button-full button-royal">
                Ship to different address
        </button>
        
        <div class="item item-divider">Delivery Information</div>
        <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
                Free UK Delivery &pound; 0.00
            </div>
            <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
                Expedited UK Delivery &pound; 5.00
            </div>
            <i class="radio-icon ion-checkmark"></i>
        </label>

        <div class="item item-divider">Payment Information</div>
        <div class="padding">

            <button class="button button-small button-royal" id="customButton" ng-click="StipePaymentGen(subtotal+form.shippingcost-discountamount)">Pay with card</button>
            
            

        </div>
            

            <script>
                
            </script></div>

        <div class="padding">
            <a href=""><button class="button button-block button-royal">Place order</button></a>
        </div>

    </ion-content>
</ion-view>