<ion-view title="Global Grunge">
    <ion-content class="has-header">
        <div class="item item-divider">
            <h4 class="pull-left">Sort by</h4>
            <h4 class="pull-right">Filters</h4>
        </div>
       
        <div class="list">
            <div class="row">
                <div class="col col-33 text-center">
                    <a href="#/tab/dash/categories/1/product">
                        <div class="item">
                            <img src="img/item.jpg" class="full-image">
                            <p>Bahar Necklace</p>
                            <span class="royal">&pound; 70</span>
                        </div>
                    </a>
                </div>
                <div class="col col-33 text-center">
                    <a href="#/tab/dash/categories/1/product">
                        <div class="item">
                            <img src="img/item.jpg" class="full-image">
                            <p>Bahar Necklace</p>
                            <span class="royal">&pound; 70</span>
                        </div>
                    </a>
                </div>
                <div class="col col-33 text-center">
                    <a href="#/tab/dash/categories/1/product">
                        <div class="item">
                            <img src="img/item.jpg" class="full-image">
                            <p>Bahar Necklace</p>
                            <span class="royal">&pound; 70</span>
                        </div>
                    </a>
                </div>

            </div>

            <div class="row">
                <div class="col col-33 text-center">
                    <a href="#/tab/dash/categories/1/product">
                        <div class="item">
                            <img src="img/item.jpg" class="full-image">
                            <p>Bahar Necklace</p>
                            <span class="royal">&pound; 70</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>