<ion-view title="Bahar Necklace">
    <ion-content class="has-header">
        <ion-list>
            <div class="row">
                <div class="col">
                    <img src="img/item.jpg" class="full-image">
                    <h3 class="text-center"><span class="royal">&pound; 70</span></h3>
                    <p><strong>Materials:</strong> Brass &amp; glass</p>
                    <p><strong>Measurements:</strong> 17” inside neck measurement + 2” extension chain</p>
                    <p><strong>Available:</strong> 5 pcs</p>
                    <a href="#/tab/cart"><button class="button button-royal button-block">Add to cart</button></a>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>