<ion-view title="Lyla">

    <ion-content class="has-header padding">
        <div class="row">
            <div class="col">
                <a href="#/tab/dash/categories">
                    <img class=" full-image" src="img/newin.jpg" />
                    <h5 class="menu-name">New In</h5>
                </a>
            </div>

        </div>
        </a>
        <div class="row">
            <div class="col col-50">
                <a href="#/tab/dash/categories">
                <img class=" full-image" src="img/jew.jpg">
                <h5 class="menu-name">Jewellery</h5>
                </a>
            </div>
            <div class="col col-50">
                <a href="#/tab/dash/categories">
                <img class="imghorizontal full-image" src="img/acc.jpg">
                <h5 class="menu-name">Accesories</h5>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <a href="#/tab/dash/categories">
                <img class=" full-image" src="img/heart.jpg">
                <h5 class="menu-name">lyla loves..</h5>
                </a>
            </div>
            <div class="col col-50">
                <a href="#/tab/dash/categories">
                <img class=" full-image" src="img/hand.jpg">
                <h5 class="menu-name">Handmade</h5>
                </a>
            </div>
        </div>


    </ion-content>
</ion-view>
