<ion-view title="My Cart">
    <ion-content class="has-header">
        <div class="list">
            <a class="item item-thumbnail-left" href="#">
                <img src="img/item.jpg">
                <h2>Bahar Necklace</h2>
                <h3 class="royal">&pound; 70</h3>
                <p><strong>Quantity:</strong> 1</p>
                <button class="button button-clear button-asseertive button-small">REMOVE</button>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="img/item.jpg">
                <h2>Bahar Necklace</h2>
                <h3 class="royal">&pound; 70</h3>
                <p><strong>Quantity:</strong> 1</p>
                <button class="button button-clear button-asseertive button-small">REMOVE</button>
            </a>
            
            <div class="item item-divider">Discount</div>
            <div class="item item-input-inset">
                <label class="item-input-wrapper royal">
                    <input type="text" placeholder="Enter Coupon Code">
                </label>
                <button class="button button-royal button-small">
                    Submit
                </button>
            </div>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-pricetag"></i>
                Discounted Amount
                <span class="item-note">
                    &pound; 0
                </span>
            </a>
               <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-cart"></i>
                Total Amount
                <span class="item-note">
                    &pound; 140
                </span>
            </a>
        </div>

        <div class="padding">
            <a href="#/tab/cart/checkout"><button class="button button-block button-royal">Proceed to checkout</button></a>
        </div>

    </ion-content>
</ion-view>