<ion-view title="Lyla Loves">
    <ion-content class="has-header padding">
        <center>
            <a href="http://www.instagram.com/lyla_loves" target="_blank">
                <img src="img/insta.png" class="socialicons">
            </a>
            <a href="https://www.twitter.com/lyla_loves" target="_blank">
                <img src="img/twitter.png" class="socialicons">
            </a>
            <a href="https://www.facebook.com/lylaloves" target="_blank">
                <img src="img/facebook.png" class="socialicons">
            </a>
            <a href="http://www.pinterest.com/lloves1548/" target="_blank">
                <img src="img/pinterest.png" class="socialicons">
            </a>
            <a href="https://www.tumblr.com/blog/lylalovesblog" target="_blank">
                <img src="img/tumbler.png" class="socialicons">
            </a>

            <div class="padding">
                <img src="img/logo.jpg" style="width:40%;">
            </div>
            <div class="padding">
                <img src="img/pick.png" style="width:60%;">
            </div>
            <div class="padding">
                <img src="img/butterfly.png" style="width:70%;">
            </div>
        </center>
    </ion-content>
</ion-view>
